{% load static %}

<section class="section-box-team  style-2 tf-spacing-1 pb-0 ">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-5">
                {% include 'property/advanced_search.html' %}
            </div>
            <div class="col-lg-7">
                <div class="content-inner">
                    <div class="heading-section mb-24">
                        <h2 class="title">Discover Spaces
                            That Truly Feel Like Home, One Property at a Time
                        </h2>
                    </div>
                    <div class="content mb-48 wow animate__fadeInUp animate__animated"
                        data-wow-duration="1s" data-wow-delay="0s">
                        <p class="text-1 description-1 mb-16">At Real H Realty, we focus on creating spaces that foster comfort and community. Our expertise spans across various real estate services, ensuring that each client finds the perfect fit for their needs. Join us in transforming the way you experience real estate.</p>
                        <p class="description-2 text-1 mb-24">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad non est ex molestias delectus unde neque veniam! Sunt, ipsam repudiandae ducimus delectus, ullam blanditiis neque eum officiis fugit fuga error.
                        </p>
                        <a href="#"
                            class="tf-btn bg-color-primary pd-12 fw-7 wow animate__fadeInUp animate__animated"
                            data-wow-duration="1s" data-wow-delay="0s">Register Now</a>
                    </div>
                    <div class="wrap-counter">
                        <div class="counter-item style-2">
                            <div class="count">
                                <div class="icons">
                                    <i class="icon-house"></i>
                                </div>
                                <div class="counter-number ">
                                    <span>600</span>
                                    <span class="sub plus">+</span>
                                </div>
                                <p class="text-4 ">Homes for Sale</p>
                            </div>
                        </div>
                        <div class="counter-item style-2">
                            <div class="count">
                                <div class="icons">
                                    <i class="icon-user-2"></i>
                                </div>
                                <div class="counter-number ">
                                    <span>250</span>
                                    <span class="sub plus">+</span>
                                </div>
                                <p class="text-4 ">Real Estate Agents</p>
                            </div>
                        </div>
                        <div class="counter-item style-2">
                            <div class="count">
                                <div class="icons">
                                    <i class="icon-shield"></i>
                                </div>
                                <div class="counter-number ">
                                    <span>2500</span>
                                    <span class="sub plus">+</span>
                                </div>
                                <p class="text-4 ">Properties Sold</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>