{% load static %}

<section class="banner">
    <img src="{% static 'images/section/banner-1.jpg' %}" width="100%" alt="banner-1" >
    <div class="row" style="position: absolute; top: 40%; left: 52%; transform: translate(-50%, -50%); text-align: left; width: 100%;">
        <div class="col-lg-4 ">
            <h1 class="heading">Shaping Your <br> Real Estate Future</h1>
            <p class="mt-3 mb-4 fs-16">Step into the world of limitless real estate potential with <b>Real H Realty</b>. We’re here to streamline your property journey, providing expert guidance to turn your dreams into concrete results. Experience the future of real estate with us today.</p>
            <div class="btn-add">
                <a class="tf-btn style-border pd-23" href="#">Let's Connect</a>
            </div>
        </div>
    </div>
</section>




