<section class="section-work-together ">
                <div class="wg-appraisal">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <div class="heading-section mb-30">
                                        <h2 class="title text-anime-wave">Are You Selling Or <br>
                                            Renting Your Property?</h2>
                                        <p class="text-1 wow animate__fadeInUp animate__animated"
                                            data-wow-duration="1.5s" data-wow-delay="0s">Thousands of luxury home
                                            enthusiasts just like
                                            you visit our
                                            website.
                                        </p>
                                    </div>
                                    <a href="#" class="tf-btn bg-color-primary fw-7 pd-11">
                                        Register Now
                                    </a>
                                    <div class="person wow animate__fadeInRight animate__animated"
                                        data-wow-duration="2s">
                                        <img src="images/section/person-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>