            <div class="section-testimonials mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading-section text-center mb-48">
                                <h2 class="title text-anime-wave">Clients Testimonials</h2>
                            </div>
                            <div class="swiper sw-testimonials style-pagination " data-preview="3" data-tablet="2"
                                data-mobile-sm="2" data-mobile="1" data-space="15" data-space-md="30" data-space-lg="40"
                                data-speed="1000">
                                <div class="swiper-wrapper mb-58 ">
                                    <div class="swiper-slide">
                                        <div class="wg-testimonial has-bg text-center">
                                            <div class="avatar">
                                                <img src="images/avatar/testimonials-1.jpg" alt="testimonials">
                                            </div>
                                            <p class="text-1 description">Listing my property on this platform was the best decision. It sold within a month!</p>
                                            <div class="ratings justify-center">
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                            </div>
                                            <div class="author">
                                                <h6 class="name">
                                                    <a href="#">Rajesh Sharma</a>
                                                </h6>
                                                <!-- <p class="text-2">CEO Themesflat</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="wg-testimonial has-bg text-center">
                                            <div class="avatar">
                                                <img src="images/avatar/testimonials-1.jpg" alt="testimonials">
                                            </div>
                                            <p class="text-1 description"> Finding a reliable contractor was so easy. Their recommendations made my renovation stress-free.</p>
                                            <div class="ratings justify-center">
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                            </div>
                                            <div class="author">
                                                <h6 class="name">
                                                    <a href="#">Priya Nair</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="wg-testimonial has-bg text-center">
                                            <div class="avatar">
                                                <img src="images/avatar/testimonials-1.jpg" alt="testimonials">
                                            </div>
                                            <p class="text-1 description">  I rented out my apartment quickly thanks to their efficient service. Highly recommend!</p>
                                            <div class="ratings justify-center">
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                            </div>
                                            <div class="author">
                                                <h6 class="name">
                                                    <a href="#">Amit Gupta</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="wg-testimonial has-bg text-center">
                                            <div class="avatar">
                                                <img src="images/avatar/testimonials-1.jpg" alt="testimonials">
                                            </div>
                                            <p class="text-1 description"> This platform connected me with the right buyers. Selling my property was smooth and hassle-free.</p>
                                            <div class="ratings justify-center">
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                                <i class="icon-start"></i>
                                            </div>
                                            <div class="author">
                                                <h6 class="name">
                                                    <a href="#">Sonal Mehta</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="sw-wrap-btn">
                                    <div class="swiper-button-prev sw-button testimonials-prev">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19 12H5" stroke="#5C5E61" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M12 5L5 12L12 19" stroke="#5C5E61" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="sw-pagination sw-pagination-testimonials text-center"></div>
                                    <div class="swiper-button-next sw-button testimonials-next">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5 12H19" stroke="#5C5E61" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M12 5L19 12L12 19" stroke="#5C5E61" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>