{% extends 'layout/base.html' %}
{% block start %}
{% load static %}
{% load custom_filters %}


<div class="container tf-spacing-1">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mt-5 mb-3">Thank You!</h2>
            <p>Your inquiry has been submitted successfully. We will get back to you soon.</p>

            <div class="col-12 mt-4 d-flex justify-content-center">
                <a class="tf-btn style-border pd-23" href="/">Go Back</a>
            </div>

        </div>
    </div>
</div>




{% endblock %}