<!DOCTYPE html>
<html lang="en">
{% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ page_title|default:"Vizon Realty" | unslug }}{% endblock %}</title>
    
    {% block styles %}{% include 'layout/styles.html' %}{% endblock %}
</head>

<body>
    <main id="content">
        
        {% include 'layout/head.html' %}
        
        {% block start %}
        {% endblock %}

    </main> 

    {% include 'layout/footer.html' %}

    {% block scripts %}{% include 'layout/scripts.html' %}{% endblock %}
</body>
</html>