{% load static %}

<script src="{% static 'vendors/jquery.min.js' %}"></script>
<script src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>
<script src="{% static 'vendors/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'vendors/slick/slick.min.js' %}"></script>
<script src="{% static 'vendors/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendors/counter/countUp.js' %}"></script>
<script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
<script src="{% static 'vendors/dropzone/js/dropzone.min.js' %}"></script>
<script src="{% static 'vendors/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'vendors/hc-sticky/hc-sticky.min.js' %}"></script>
<script src="{% static 'vendors/jparallax/TweenMax.min.js' %}"></script>
<script src="{% static 'vendors/mapbox-gl/mapbox-gl.js' %}"></script>
<script src="{% static 'vendors/dataTables/jquery.dataTables.min.js' %}"></script>
<!-- Theme scripts -->
<script src="{% static 'js/theme.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabButtons = document.querySelectorAll(".tab-btn");
        const tabPanes = document.querySelectorAll(".tab-pane");
    
        tabButtons.forEach(button => {
            button.addEventListener("click", function () {
                let tab = this.getAttribute("data-tab");
    
                
                tabButtons.forEach(btn => btn.classList.remove("active"));
                tabPanes.forEach(pane => pane.classList.remove("active"));
    
                
                this.classList.add("active");
                document.getElementById(tab).classList.add("active");
            });
        });
    });
    
</script>

<script>
    $(document).ready(function() {
        function convertUnit(value, unit) {
            var conversionRates = {
                "sq.ft": 1,
                "sq.yards": 0.111,
                "sq.mt": 0.0929,
                "acres": 0.0000229568,
                "hectares": 0.0000092903,
                "bigha": 0.0003305785,
                "marla": 0.0229568,
                "kanal": 0.001145
            };
    
            return (value * conversionRates[unit]).toFixed(2);
        }
    
        function updateTableUnits() {
            var selectedUnit = $("#unit").val();
    
            $(".carpet-area, .built-up-area, .super-built-up-area").each(function() {
                var originalValue = parseFloat($(this).attr("data-value")) || 0;
                if (originalValue > 0) {
                    $(this).html(convertUnit(originalValue, selectedUnit) + ' <span class="unit">(' + selectedUnit + ')</span>');
                }
            });
        }
    
        $("#unit").change(function() {
            updateTableUnits();
        });
    
        updateTableUnits();
    });
    
</script>

<script>
    $(document).ready(function() {
        $("iframe").css("width", "100%");
    });
</script>

<script>
    $(document).ready(function () {
        $("#loginForm").on("submit", function (e) {
            e.preventDefault();
        
            $.ajax({
                url: "{% url 'login' %}",  
                type: "POST",
                data: $(this).serialize(),  
                success: function (data) {
                    if (data.success) {
                        if (data.new_user) {
                            alert("Login successful.");
                            $("#phone").val($("#contact").val()); 
                            $("#loginForm").modal("hide");
                            $("#next-process").modal("show");
                        } else {
                            location.reload(); 
                        }
                    } else {
                        alert(data.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                }
            });
        });

        $("#create_account").on("submit", function (e) {
            e.preventDefault();
            $.ajax({
                url: "{% url 'complete_registration' %}",  
                type: "POST",
                data: $(this).serialize(),  
                success: function (data) {
                    if (data.success) {
                        location.reload();  
                    } else {
                        alert(data.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                }
            });
        });
    });
</script>
