{% extends 'layout/base.html' %}
{% block start %}
{% load static %}
{% load custom_filters %}


<section class="flat-title ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-inner ">
                    <ul class="breadcrumb">
                        <li><a class="home fw-6 text-color-3" href="/">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="main-content tf-spacing-6">

    <section class="section-agency-layout">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="box-title ">
                        <h2>Services</h2>
                    </div>
                    <div class="flat-animate-tab">
                        <div class="tab-content">
                            <div class="wrap-list">
                                {% for post in services %}
                                <div class="agencies-item">
                                    <div class="logo-wrap">
                                        <img src="{{ post.icon.url }}" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <h6 class="name">
                                                <a href="{% url 'blog_detail' post.slug %}">{{ post.name }}</a>
                                            </h6>
                                        </div>
                                        <p class="description text-1">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                                            ligula neque,
                                            ornare
                                            quis
                                            urna nec, congue hendrerit turpis. Quisque nec diam varius,
                                            iaculis enim
                                            aliquam...
                                        </p>
                                        <div class="contact">
                                            <ul class="list-link">
                                                <li><a href="#"><i class="icon-phone-4"></i></a></li>
                                                <li><a href="#"><i class="icon-connect"></i></a></li>
                                            </ul>
                                            <a href="{% url 'service_detail' post.slug %}" class="tf-btn style-border pd-4">
                                                Details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class=" tf-sidebar">
                        <form class="form-contact-agent style-2 mb-30" method="post" action="{% url 'property_inquiry' %}">
                            {% csrf_token %}
                            <h4 class="heading-title mb-30">
                                Contact Us
                            </h4>
                            <fieldset>
                                <input type="text" class="form-control mb-3" placeholder="Your name" name="name"
                                    id="name" required>
                            </fieldset>
                            <fieldset>
                                <input type="text" class="form-control mb-3" placeholder="Email" name="email"
                                    id="email" required>
                            </fieldset>
                            <fieldset class="phone">
                                <input type="text" class="form-control mb-3 " placeholder="Phone" name="phone"
                                    id="phone" required>
                            </fieldset>
                            <fieldset>
                                <textarea name="message" class="form-control mb-3 " cols="30" rows="10" placeholder="Message"
                                    name="message" id="message" required></textarea>
                            </fieldset>
                            <div class="wrap-btn d-flex">
                                <button type="submit" class="tf-btn bg-color-primary me-2 w-full"><svg width="20" height="20"
                                        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.125 5.625V14.375C18.125 14.8723 17.9275 15.3492 17.5758 15.7008C17.2242 16.0525 16.7473 16.25 16.25 16.25H3.75C3.25272 16.25 2.77581 16.0525 2.42417 15.7008C2.07254 15.3492 1.875 14.8723 1.875 14.375V5.625M18.125 5.625C18.125 5.12772 17.9275 4.65081 17.5758 4.29917C17.2242 3.94754 16.7473 3.75 16.25 3.75H3.75C3.25272 3.75 2.77581 3.94754 2.42417 4.29917C2.07254 4.65081 1.875 5.12772 1.875 5.625M18.125 5.625V5.8275C18.125 6.14762 18.0431 6.46242 17.887 6.74191C17.7309 7.0214 17.5059 7.25628 17.2333 7.42417L10.9833 11.27C10.6877 11.4521 10.3472 11.5485 10 11.5485C9.65275 11.5485 9.31233 11.4521 9.01667 11.27L2.76667 7.425C2.4941 7.25711 2.26906 7.02224 2.11297 6.74275C1.95689 6.46325 1.87496 6.14845 1.875 5.82833V5.625"
                                            stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                Send message</button>
                                <a href="#" class="tf-btn style-border pd-9 "><svg width="21" height="20"
                                        viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.375 8.125V4.375M12.375 8.125H16.125M12.375 8.125L17.375 3.125M14.875 18.125C7.97167 18.125 2.375 12.5283 2.375 5.625V3.75C2.375 3.25272 2.57254 2.77581 2.92417 2.42417C3.27581 2.07254 3.75272 1.875 4.25 1.875H5.39333C5.82333 1.875 6.19833 2.1675 6.3025 2.585L7.22417 6.27083C7.31583 6.6375 7.17917 7.0225 6.87667 7.24833L5.79917 8.05667C5.64494 8.16831 5.53083 8.32672 5.47379 8.50837C5.41674 8.69002 5.4198 8.88523 5.4825 9.065C5.98406 10.4293 6.77618 11.6682 7.80398 12.696C8.83179 13.7238 10.0707 14.5159 11.435 15.0175C11.8025 15.1525 12.2083 15.0142 12.4433 14.7008L13.2517 13.6233C13.3623 13.4756 13.5141 13.3639 13.688 13.3021C13.8619 13.2402 14.0501 13.2311 14.2292 13.2758L17.915 14.1975C18.3317 14.3017 18.625 14.6767 18.625 15.1067V16.25C18.625 16.7473 18.4275 17.2242 18.0758 17.5758C17.7242 17.9275 17.2473 18.125 16.75 18.125H14.875Z"
                                            stroke="#F1913D" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    Call
                                </a>
                            </div>
                        </form>

                        <div class=" sidebar-ads">
                            <div class="image-wrap">
                                <img class="lazyload" data-src="{% static 'images/blog/ads.jpg' %}" src="{% static 'images/blog/ads.jpg' %}"
                                    alt="">
                            </div>
                            <div class="logo relative z-5">
                                <img src="{% static 'images/logo/logo.png' %}" alt="" width="136px" height="42px">
                            </div>
                            <div class="box-ads relative z-5">
                                <div class="content ">
                                    <h4 class="title"><a href="#">We can help you find a
                                            local real estate agent</a> </h4>
                                    <div class="text-addres ">
                                        <p>Connect with a trusted agent who knows the market inside out -
                                            whether you’re buying or selling.</p>
                                    </div>
                                </div>
                                <a href="#" class="tf-btn fw-6 bg-color-primary w-full">
                                    Connect with an agent
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>




{% endblock %}