{% load static %}
{% load custom_filters %}

{% if property.images.all %}
<div class=" single-property-gallery style-1">
    <div class="position-relative">
        <div class="swiper sw-single">
            <div class="swiper-wrapper">
                {% for image in property.images.all %}
                <div class="swiper-slide">
                    <a href="{{ image.image.url }}" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{{ image.image.url }}" src="{{ image.image.url }}"
                            alt="{{ property.title }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="box-navigation">
            <div class="swiper-button-prev sw-button style-2 sw-thumbs-prev">
                <i class="icon-arrow-left-1"></i>
            </div>
            <div class="swiper-button-next sw-button style-2 sw-thumbs-next">
                <i class="icon-arrow-right-1"></i>
            </div>
        </div>
        <div class="swiper thumbs-sw-pagi" data-preview="5" data-space="15" data-mobile-sm="5">
            <div class="swiper-wrapper">
                {% for image in property.images.all %}
                <div class="swiper-slide">
                    <div class="img-thumb-pagi">
                        <img src="{{ image.image.url }}" alt="{{ property.title }}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% else %}

<div class=" single-property-gallery style-1">
    <div class="position-relative">
        <div class="swiper sw-single">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/1.jpg' %}"
                            src="{% static 'images/samples/1.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/2.jpg' %}"
                            src="{% static 'images/samples/2.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/3.jpg' %}"
                            src="{% static 'images/samples/3.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/4.jpg' %}"
                            src="{% static 'images/samples/4.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/5.jpg' %}"
                            src="{% static 'images/samples/5.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/6.jpg' %}"
                            src="{% static 'images/samples/6.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/7.jpg' %}"
                            src="{% static 'images/samples/7.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/8.jpg' %}"
                            src="{% static 'images/samples/8.jpg' %}" alt="dummy">
                    </a>
                </div>
            </div>
        </div>
        <div class="box-navigation">
            <div class="swiper-button-prev sw-button style-2 sw-thumbs-prev">
                <i class="icon-arrow-left-1"></i>
            </div>
            <div class="swiper-button-next sw-button style-2 sw-thumbs-next">
                <i class="icon-arrow-right-1"></i>
            </div>
        </div>
        <div class="swiper thumbs-sw-pagi" data-preview="5" data-space="15" data-mobile-sm="5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/1.jpg' %}"
                            src="{% static 'images/samples/1.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/2.jpg' %}"
                            src="{% static 'images/samples/2.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/3.jpg' %}"
                            src="{% static 'images/samples/3.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/4.jpg' %}"
                            src="{% static 'images/samples/4.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/5.jpg' %}"
                            src="{% static 'images/samples/5.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/6.jpg' %}"
                            src="{% static 'images/samples/6.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/7.jpg' %}"
                            src="{% static 'images/samples/7.jpg' %}" alt="dummy">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-fancybox="gallery" class="image-wrap d-block">
                        <img class="lazyload" data-src="{% static 'images/samples/8.jpg' %}"
                            src="{% static 'images/samples/8.jpg' %}" alt="dummy">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}