{% load static %}
{% load custom_filters %}

<div class="wg-property box-property-detail  spacing-1">
    <div class="wg-title text-11 fw-6 text-color-heading">
        Property Details
    </div>
    <div class="content">
        <p class="description text-1"> {{ property.description|safe }}</p>
    </div>
    {% if property.file %}
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ property.file.url }}" target="_blank" class="attachments-item">
                <div class="box-icon w-60">
                    <img src="{% static 'images/items/download-1.png' %}" alt="file">
                </div>
                <span>{{ property.slug }}.pdf</span>
                <i class="icon icon-DownloadSimple"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>